* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: fantasy;
}
:root {
  --bg-color: #03042c;
  --bg-gradient: linear-gradient(90deg, #030812, #020764, #043780, #025ec4);
  --second-color: #1c3aff;
  --text-color: #ffff;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
/* Navbar creation*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: var(--bg-color);
  z-index: 1000;
}
.logo {
  font-size: 4.5rem;
  color: var(--text-color);
  font-weight: 800;
  transition: 0.3 ease-in-out;
}
.logo:hover {
  transform: scale(1.2);
}
span {
  color: var(--second-color);
}
.navbar,
a {
  font-size: 3rem;
  color: var(--text-color);
  margin-left: 9rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.navbar a:hover {
  color: var(--second-color);
}
  .toggle-btn{
  color: var(--text-color);
  font-size: 1.5rem;
  display: none;
}
.dropdown-menu{
  display: none;
  position: fixed;
  top: 96px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background:var(--bg-color);-
}
.dropdown-menu a{
  display: block;
  padding: 3rem;
}
.dropdown-menu.open{
  display: block;
}

/*Responsive-navbar*/
@media (max-width: 1185px){
  .navbar.logo a{
    font-size: 1rem;
    margin-left: 1rem;
  }
  .navbar{
    padding: 1rem;
  }
}

@media(max-width: 768px){
  .navbar a:not(.logo){
    display: none;
  }
  .toggle-btn{
    display: block !important;
  }
  .dropdown-menu{
    top: 96px;
  }
}


/*Home-section*/
.home {
  z-index: 1;
  margin-top: 5rem;
}
.container {
  width: 100%;
  height: 100vh;
  font-size: 4.5rem;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--bg-gradient);
  background-size: 300%;
  animation: bg-animation 5s infinite;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.cv-btn {
  margin: 2rem;
  font-size: 2rem;
  letter-spacing: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  border: none;
  background: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 0 30px var(--text-color);
  transition: 0.4s ease-in-out;
}
.cv-btn:hover {
  box-shadow: 0 0 30px var(--text-color);
  box-shadow: 0 0 60px var(--text-color);
  box-shadow: 0 0 90px var(--text-color);
}
/*About-me-section*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
}
.img {
  margin-top: 10rem;
  margin-left: 5rem;
}
img {
  width: 30vw;
  border-radius: 50%;
  box-shadow: 0 0 30px var(--second-color);
  transition: 0.4s ease-in-out;
}
img:hover {
  box-shadow: 0 0 30px var(--second-color);
  box-shadow: 0 0 60px var(--second-color);
  box-shadow: 0 0 90px var(--second-color);
}
.about-info {
  width: 60vw;
  font-size: 3rem;
  text-align: right;
  padding: 1rem;
}

#sc-title {
  margin-bottom: 2rem;
  margin-right: 30rem;
  }
  /*About responsive*/
  @media screen and (max-width :768px) {
    .about{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 3rem 1rem;

    }
    .sc-title{
    text-align: center;
    }
    img{
      width: 40vw;
      margin: 0 0 2rem 0;
    }
    .about-info{
      text-align: center;
    }
    }
  
  /*skills-section*/

#heading {
  text-align: center;
  letter-spacing: 5px;
  font-size: 5rem;
  margin: 8rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
  background-color: var(--bg-color);
}
h4 {
  color: var(--text-color);
}
.skills-box {
  margin-left: 6rem;
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-size: 2.5rem;
  background-color: var(--second-color);
  height: 400px;
  width: 350px;
  border-radius: 2rem;

}
.sk{
  margin-top: 1rem;

}
/* Responsive-skills-cards*/
@media screen and (max-width:768px) {
  .cards{
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
/* Contact-section*/
.Contact{
  background: var(--bg-color);
  margin-left: 36rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  max-width: 600px;
}
#f-title{
  margin-top: 3rem;
  font-size: 5rem;

}
form , .form-bx ,input , .f-messaje , textarea{
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 2rem;
  border: 3px solid var(--second-color);
  overflow: hidden;
  margin-bottom: 30px;
}
.footer{
  background-color: var(--second-color);
  color: var(--bg-color);
  padding: 50px;
}
.footer, social-icons , #p-footer {
  text-align: center;
}
#p-footer{
  padding: 20px;
}